/*  MICROTHEMER STYLES  */


/*= Rodapé =================== */

/** Rodapé >> Barra do rodapé **/
.ast-footer-overlay {
	padding-top: 10px !important;
	padding-bottom: 10px !important;
	margin-top: 60px !important;
}

/** Rodapé >> widgets  do rodapé **/
.footer-adv-overlay {
	margin-bottom: -61px !important;
	border-top-style: none !important;
}

/** Rodapé >> Ast small footer **/
.ast-small-footer {
	padding-top: 1px !important;
	margin-top: 0.5px !important;
	border-top-style: none !important;
}

/** Rodapé >> widgets rodapé **/
.footer-adv-overlay {
	margin-top: 100px !important;
}


/*( Celular )*/
@media (max-width: 480px) {

	/*= Conteúdo ================= */

	/** Conteúdo >> botão mais sobre nós **/
	.uagb-ifb-cta-button {
	padding: 10px 90px 10px 90px !important;
}

	/** Conteúdo >> bem-vindo conteúdo **/
	.uagb-infobox-has-icon h2 {
	font-size: 60px !important;
}

	/** Conteúdo >> imagem 1 conteúdo **/
	.uagb-rm__align-left:nth-of-type(1) img {
	border-radius: 10px !important;
}

	/** Conteúdo >> imagem 2 conteúdo **/
	.uagb-rm__align-left:nth-of-type(2) img {
	border-radius: 10px !important;
}

	/** Conteúdo >> imagem 3 conteúdo **/
	.uagb-rm__align-left:nth-of-type(3) img {
	border-radius: 10px !important;
}

	/** Conteúdo >> imagem 4 conteudo **/
	.uagb-rm__align-left:nth-of-type(4) img {
	border-radius: 10px !important;
}


}

